avocado-framework==91.0
avocado-framework-plugin-loader-yaml==91.0
avocado-framework-plugin-result-html==91.0
avocado-framework-plugin-varianter-yaml-to-mux==91.0
Jinja2==2.11.3
MarkupSafe==1.1.1
PyYAML==5.4
